@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Contact No.</strong> 9558103324
    <br/>
    <strong>Email Id.</strong> salonipatel1201@gmail.com

</address>

<address>
   <!-- <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
       -->
</address>